.progressMainWrapper {
  background-color: black;
  border-radius: 16mm;
  height: 8px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.progressMainStyle {
  border-radius: 16mm;
  height: 8px;
  background-color: #00cc83;
  /* width: 28%; */
}